# Backup files
*_backup_*.zip

# Google Services
GoogleService-Info.plist

# Xcode
.DS_Store
*.xcuserstate
*.xcuserdatad/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Temporary files
*.json
*.md
*.txt
test-*.json
