<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCb5fr3bFsbDGncTUgLEEyy1yveJmfxkZg</string>
	<key>GCM_SENDER_ID</key>
	<string>74062182191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yelerty.HabitSeries</string>
	<key>PROJECT_ID</key>
	<string>routine-sharing</string>
	<key>STORAGE_BUCKET</key>
	<string>routine-sharing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74062182191:ios:418fd9bf8849b22fadd3da</string>
</dict>
</plist>